.CV {
  min-width: 600px;
  min-height: 850px;
  max-width: 900px;
  padding: 20px;
  box-shadow: 1px 1px 8px rgba(139, 140, 165, 0.5);
}


section > h3 {
  color: #0476d0;
  font-size: 1.5em;
}

.section-div h4, .section-div  p {
  margin: 0px;
  padding: 0px;
  font-size: 1.3em;
}


/*General*/

.CV section {
  margin-bottom: 20px;
  padding-bottom: 5px;
  margin: 0px 15px;
}

.CV section:not(:last-child) {
  border-bottom: 1px dashed black;
}

.CV .basic-info {
  margin-bottom: 5px;
}

.CV .basic-info h2 {
  border-left: 2px solid #0476d0;
  color: #0476d0;
  display: inline;
  padding: 3px;
  font-weight: bolder;
  font-size: 2em;
}

.CV .basic-info p {
  margin: 0px;
  font-size: 1.2em;
}

.CV .basic-info .number {
  margin-top: 9px;
}

/* BASICS*/

.courses .courses-list-div {
  display: flex;
  flex-wrap: wrap;
}

.section-div {
  width: 50%;
  margin-bottom: 10px;
}

/* COURSES */

